/*style.css / banner css*/
 *{
     margin: 0;
     padding: 0;
 }

 body {
    font-family: 'Rum Raisin', sans-serif;
 }

 a {
     text-decoration: none;
 }

 .container {
     width: 500px;
     height: 500px;
     background-image: url(./images/bg_image.jpg);
     margin: 0 auto;
     margin-top:10px;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .gif{
     width: 500px;
     height: 500px;
     background-image: url(./images/bg_snow.gif);
     object-fit: cover;

 }

 .box {
     width: 450px;
     height: 470px;
     background: rgba(255, 255, 255, 0.8);
     border-radius: 49px;
     position: absolute;
     left: 25px;
     top: 15px;    
     box-sizing: border-box;
     overflow: hidden;
}

.title {
    overflow: hidden;
}

 .title img{
    position: absolute;
    animation: icon 3s linear infinite;
    animation-direction: alternate;
 }
 .title img:nth-child(1) {
    left: 30px;
    top: 30px;
 }
 .title .snow {
     right: 25px;
     top: 25px;
     width: 70px;
     animation: icon 4s linear infinite;
     animation-direction: alternate;
 }

 @keyframes icon {
    0%{
        opacity: 0.5;
        transform: scale(0.8, 0.8) rotate(0deg) ;
    }
    100%{
        transform: scale(1) rotate(20deg);
    }
 }

 .title .winter {
     font-size: 70px;
     height: 70px;
     padding-top: 20px;
     text-align: center;
     color: #28829E;
    }

 .title .sale {
     font-size: 200px;
     text-align: center;
     color: #271E8D;
     animation: sale 3s ease-in-out alternate infinite;
     animation-delay: 3s;
     padding-bottom: 0;
 }

 @keyframes sale {
     0%{
        transform: rotate(0deg);
     }
     50%{
        transform: rotate(3deg);
     }
     100%{
        color: #D82014;
        transform: rotate(0deg);
     }
 }

 .botton {
     width: 350px;
     height: 100px;
     top: 20px;
     background: #271E8D;
     text-align: center;
     margin: 0 auto;
     box-sizing: border-box;
     animation: box 3s ease-in-out ;
 }

 @keyframes box {
     0% {
         transform: translateX(2000px);
     }
 }

a .botton:hover span {
     color: #fff;
     text-shadow: #ff0000 3px 3px;
} 

a .botton:hover {
    background-color: #28829E;
}

.botton p {
     font-size: 40px;
     color: #fff;
 }

.botton span {
     font-size:90px;
     margin-left: 15px;
     margin-right: 15px;
     color: #ff0000;
     text-shadow: #fff 3px 3px;
 }